---
import Layout from '@layouts/Layout.astro';
import Container from "@components/Container.astro";
import { TAGS } from "@consts";

import { getCollection } from "astro:content";
const allPosts = (await getCollection("blog"));
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
---
<Layout title={TAGS.TITLE} description={TAGS.DESCRIPTION}>
  <Container>
    <h1 class="animate font-semibold text-black dark:text-white">
      {TAGS.DESCRIPTION}
    </h1>
    <div class="flex flex-wrap">
      {tags.map((tag) => (
        <p 
          class="m-1 p-2 rounded-lg border-dotted"
        >
          <a href={`/tags/${tag}`}>{tag}</a></p>
      ))}
    </div>
  </Container>
</Layout>
